<header
  class='grid grid-flow-col text-xs md:text-base fixed w-full justify-center p-2 gap-3 md:gap-7 bg-background z-10 print:hidden'
>
  <a href='/' class="hover:underline focus:underline">HOME</a>
  <a href='/about' class="hover:underline focus:underline">ABOUT</a>
  <a href='/skills' class="hover:underline focus:underline">SKILLS</a>
  <a href='/experience' class="hover:underline focus:underline">EXPERIENCE</a>
  <a href='/cv' class="hover:underline focus:underline">CV</a>
</header>
