<div
  class='grid grid-flow-col text-xs md:text-base fixed w-full justify-center p-2 gap-3 md:gap-7 bg-background z-10 print:hidden'
>
  <a href='/' class='hidden md:block'>HOME</a>
  <a href='#about'>ABOUT</a>
  <a href='#skills'>SKILLS</a>
  <a href='#experience'>EXPERIENCE</a>
  <a href='/cv'>CV</a>
</div>
