---
import Nunogois from '../Nunogois.astro'
---

<section class='flex justify-center items-center text-center min-h-screen h-px'>
  <div>
    <div class='animate-fadeInDown'>
      <Nunogois />
    </div>
    <hr class='my-5 border-none h-px bg-light-gray' />
    <h2
      class='text-lg sm:text-3xl md:text-4xl lg:text-5xl font-thin animate-fadeInUp'
    >
      Full Stack Developer
    </h2>
  </div>
</section>
