---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro'
import Nunogois from '../components/Nunogois.astro'
import ScrollFadeIn from '../components/ScrollFadeIn.astro';
import LinkBox from '../components/LinkBox.astro';
import aboutImg from '../assets/about.png'
import skillsImg from '../assets/skills.png'
import experienceImg from '../assets/experience.png'
import unleashImg from '../assets/logos/unleash.png'
import Recent from '../components/Recent.astro';
---

<Layout home>
  <section
    class='flex justify-center items-center text-center min-h-screen h-px'
  >
    <div>
      <div class='animate-fadeInDown'>
        <Nunogois />
      </div>
      <hr class='my-5 border-none h-px bg-light-gray' />
      <h2 class='text-xl sm:text-4xl lg:text-5xl font-thin animate-fadeInUp'>
        Full Stack Developer
      </h2>
    </div>
  </section>
  <section class="flex justify-center mx-auto items-center w-full px-10 md:px-24 my-40 max-w-screen-xl">
    <ScrollFadeIn class="flex flex-col md:flex-row justify-center items-center gap-10">
        <Image src={unleashImg} alt="Unleash" class="w-20 h-20" />
        <div class="flex flex-col text-left">
          <p>I currently work as a Senior Full Stack Developer at <a href="https://www.getunleash.io/" target="_blank" class="underline">Unleash</a>.</p>
          <p>Unleash is a <a href="https://docs.getunleash.io/topics/feature-flags/feature-flag-best-practices" target="_blank" class="underline">feature flag</a> management solution built with large enterprises in mind.</p>
          <p>It is <a href="https://github.com/unleash/unleash" target="_blank" class="underline">open source</a>, private, secure, scalable, and trusted by developers all over the world.</p>
        </div>
    </ScrollFadeIn>
  </section>
  <Recent />
  <section class="flex mt-20 mb-40 justify-center items-center">
    <ScrollFadeIn class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-10 max-w-5xl mx-6">
      <LinkBox href="/about" title="ABOUT" description="Get to know my journey, my love for coding, and the things that keep me going. Learn more about the person behind the code.">
        <Image src={aboutImg} class="w-20 h-20 md:w-44 md:h-44" alt="About" />
      </LinkBox>
      <LinkBox href="/skills" title="SKILLS" extraClass="delay-100" description="I've had my hands on numerous tech stacks and am always on the lookout for the next thing to learn. Explore my skill set.">
        <Image src={skillsImg} class="w-20 h-20 md:w-44 md:h-44" alt="Skills" />
      </LinkBox>
      <LinkBox href="/experience" title="EXPERIENCE" extraClass="delay-200" description="From professional milestones to personal projects. Delve into my professional journey and see what I've been up to.">
        <Image src={experienceImg} class="w-20 h-20 md:w-44 md:h-44" alt="Experience" />
      </LinkBox>
    </ScrollFadeIn>
  </section>
</Layout>