---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import skillsImg from '../assets/skills.jpg'
import { fetchSkills } from '../api/skills'

const skills = await fetchSkills()
---

<Layout title='Skills'>
  <Section title='skills'>
    <div
      class='border border-light-gray p-10 lg:flex lg:p-0 rounded-xl overflow-hidden mt-5'
    >
      <Image
        class='w-32 h-32 mx-auto rounded-full lg:mx-0 lg:rounded-none lg:w-52 lg:h-auto object-cover'
        src={skillsImg}
        alt='skills'
      />
      <div class='pt-6 lg:p-8 items-center'>
        <p class='text-justify font-bold'>
          You'll find me constantly looking for new technologies to learn,
          explore and experiment with. One of the best parts of the tech
          landscape is that it's changing all the time, so it never gets boring.
        </p>
        <p class='text-justify pt-5'>
          As a Full-Stack Developer, I constantly seek out new technologies and
          techniques to learn and explore. I have experience in both front-end
          and back-end development, and I am always adapting and adding to my
          knowledge. Thanks to my experience, I am able to quickly adapt to new
          technologies and frameworks. It's generally easy for me to join a new
          project and learn the stack being used in a short amount of time, so
          only looking at the technologies I used in the past may prove somewhat
          limiting.
          <br /><br />
           Below are some of the technologies I've worked with or interacted
          with in the past.
        </p>
      </div>
    </div>

    <div class='pt-5 flex flex-wrap gap-2 md:gap-y-2 md:gap-3'>
      {
        skills.map(({ name, image }) => (
          <div class='flex flex-col'>
            <img
              src={image}
              alt={name}
              class='rounded-xl object-cover w-7 h-7 object-[-3px] md:w-12 md:h-12 md:object-[-5px]'
              title={name}
            />
          </div>
        ))
      }
    </div>
    <p class='text-justify mt-5'>
      {skills.map(({ name }) => name).join(', ') + '.'}
    </p>
  </Section>
</Layout>
