---
interface Props {
  small?: boolean
}

const { small } = Astro.props

const size = small ? 'text-4xl sm:text-6xl' : 'text-5xl sm:text-8xl lg:text-9xl'
---

<h1
  class={`uppercase font-light tracking-widest ${size} animate-textHue bg-gradient-to-l from-red-400 to-green-400 bg-clip-text text-transparent`}
>
  Nuno Góis
</h1>
