---
interface Props {
  title: string
}
const { title } = Astro.props
---

<section class='flex justify-center items-center text-center'>
  <div class='w-full px-10 md:px-24 my-10 max-w-screen-xl'>
    <h3 id={title.toLowerCase()} class='w-full text-left text-lg md:text-3xl'>
      // {title.toUpperCase()}
    </h3>
    <slot />
  </div>
</section>
