/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #1a1a1a;
	color: white;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #5c5a5a;
}

.medium-feed-snippet {
	padding: 20px;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: justify;
}

.medium-feed-item {
	display: flex;
	flex-direction: column;
	height: 100%;
}
